<%- include('header') -%>
<div id="container" class="clearfix">
				<div class="section clearfix" style="width: 600px; margin: 10px auto;display:flex;flex-direction:column;margin-bottom:40px;overflow:hidden">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="float: left;">IECC Device Entry</h1>
						</div>
						<div class="popup-buttons" style="float: right">
							<a id="btn_add_another_device" class="button" href="#">Add Another Device</a>
							<a id="btn_add_all_device" class="button" href="#">Add All Devices</a>
						</div>
					</div>
			 		<div id="device-entry-area" class="section-content clearfix" style="overflow:auto;">
						<div id="device-entry-form" class="field-group clearfix" name="device-entry-form">
		 					<div class="field-container select clearfix">
			 					<label for="snmp-traps-enabled" style="width: 200px; float: left; margin-top: 5px;">
			 						Category :
			 					</label>
			 					<div class="iw" style="width: 150px; float: left; margin: 0 5px;">
			 						<select id="device_category" class="cfgproc" name="device_category" autocomplete="off">
									<%
			              for (var j = 0; j < categoryList.length; j++){
											if(categoryList[j].cat_name == 'Unassigned'){
			              %><option selected="" value="<%= categoryList[j].cat_id %>"><%= categoryList[j].cat_name %></option><%
			              }
										else {
											%><option value="<%= categoryList[j].cat_id %>"><%= categoryList[j].cat_name %></option><%
										}
									}
			            %>
									</select>
			 					</div>
			 				</div>
              <div class="field-container text clearfix">
                <label for="snmp-syscontact" style="width: 200px; float: left; margin-top: 5px;">
			 						Device Name :
			 					</label>
			 					<div class="iw" style="width: 250px; float: left; margin: 0 5px;">
			 						<input id="device_name" name="device_name" value="" class="devName" autocomplete="off">
			 					</div>
			 				</div>
              <div class="field-container text clearfix">
                <label for="snmp-syscontact" style="width: 200px; float: left; margin-top: 5px;">
                  Device IP Address :
                </label>
                <div class="iw" style="width: 140px; float: left; margin: 0 5px;">
									<div id="ipContainer" class="ipContainer">
										<input type="text" id="deviceIP1" name="deviceIP1" value="" maxlength="3" autocomplete="off"><span>.</span>
										<input type="text" id="deviceIP2" name="deviceIP2" value="" maxlength="3" autocomplete="off"><span>.</span>
										<input type="text" id="deviceIP3" name="deviceIP3" value="" maxlength="3" autocomplete="off"><span>.</span>
										<input type="text" id="deviceIP4" name="deviceIP4" value="" maxlength="3" autocomplete="off">
									</div>
                </div>
								<label for="snmp-syscontact" style="width: 35px; float: left; margin-top: 5px; margin-left:10px">
									Port :
								</label>
								<div class="iw" style="width: 50px; float: left; margin: 0 5px;">
										<input type="text" id="device_port" name="device_port" value="" maxlength="4" onkeypress="if(isNaN(event.key) && event.keyCode != 8 && event.keyCode != 46) return false;" autocomplete="off">
								</div>
								<div id="deviceCheckContainer" class="popup-buttons" style="float: left; margin-top: -3px;">
									<a id="btn_check_ip" class="button">Check</a>
									<img id="busy_gif" src="/img/ajax-load.gif" alt="Smiley face" height="16" width="16" style="float:left;margin-top:4px;margin-left:5px;display:none">
									<div id="check_status_result" tooltip="deviceNotFound">
										<p id="existCkeckStatus"></p>
									</div>
								</div>
              </div>
			 			</div>
			 		</div>
				</div>
		</div>
		<script src="/js/lib/jqnoconflict.js"></script>
		<script src="/js/common_function.js"></script>
		<script src="/js/deviceEntry.js"></script>
<%- include('footer') -%>
