<%- include('header') -%>
<script src="/js/bossConf.js"></script>
<script src="/js/lib/jqnoconflict.js"></script>
<script src="/js/common_function.js"></script>
<div id="container" class="clearfix" style="padding-bottom:30px">
	<div class="section clearfix" style="width: 540px; margin: 10px auto;display:flex;flex:1;flex-direction:column">
		<div class="section-toolbar clearfix" style="background: none;">
			<div class="popup-buttons" style="float: left;">
				<h1 style="float: left;">IECC Device Configuration</h1>
			</div>
			<div class="popup-buttons" style="float: right">
				<a id="cancelEditBossConf" class="button tab-button hide"  style="float:right;" href="#" onclick="return false;">Cancel</a>
				<a id="saveBossConf" class="button tab-button hide"  style="float:right;" href="#" onclick="return false;">Save Preferences</a>
				<a id="editBossConf" class="button" href="#">Edit Preferences</a>
			</div>
		</div>
		<div id="container-boss-configuration" class="section-content clearfix" style="display:flex;flex:1;overflow: auto; align-items: baseline;">
			<div style=" display:flex;display:-webkit-flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;justify-content:center;-webkit-justify-content: center;">
				<div class="field-group clearfix" style="float:left; width:500px;margin: 0 0 10px 0">
					<h2>General Configuration</h2>
					<div class="field-container text clearfix">
						<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
							ASTS IP Address:
						</label>
						<div id="ipInputBoxDisabled" class="iw" style="width: 150px; float: left; margin: 0 5px; padding-left:0px">
							<input id="txt_boss_ip" name="snmp-syscontact" class="cfgproc">
						</div>
						<div id="ipInputBox" class="iw" style="width: 148px; float: left; margin: 0 5px; display:none">
							<div id="ipContainer" class="ipContainer">
								<input type="text" id="deviceIP1" name="deviceIP1" value="" maxlength="3"><span>.</span>
								<input type="text" id="deviceIP2" name="deviceIP2" value="" maxlength="3"><span>.</span>
								<input type="text" id="deviceIP3" name="deviceIP3" value="" maxlength="3"><span>.</span>
								<input type="text" id="deviceIP4" name="deviceIP4" value="" maxlength="3">
							</div>
                		</div>
					</div>
					<div class="field-container text clearfix">
						<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
							SNMP Traps Reception IP Address:
						</label>
						<div class="iw" style="width: 150px; float: left; margin: 0 5px; padding-left:0px">
							<input id="txt_snmp_ip" name="snmp-syscontact" value="<%= ip %>" class="cfgproc">
						</div>
					</div>
					<div class="field-container text clearfix">
						<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
							RED Threshold For Low IECC Voltage:
						</label>
						<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
							<input id="text_red_threshold" name="snmp-syscontact" value="">
						</div><label for="snmp-traps-enabled" style="width:10px; float: left; margin-top: 5px;">
							V
						</label>
					</div>
					<div class="field-container text clearfix">
						<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
							YELLOW Threshold For Low IECC Voltage:
						</label>
						<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
							<input id="text_yellow_threshold" name="snmp-syscontact" value="">
						</div><label for="snmp-traps-enabled" style="width:10px; float: left; margin-top: 5px;">
							V
						</label>
					</div>
					<div class="field-container text clearfix">
						<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
							Disk Space:
						</label>
						<div class="barchartContainer">
							<span class="bar-graph-container">
								<span class="graph-background" style="width: 100%;"></span>
								<span id="disk-storage-graph" class="graph" style="width:0%; max-width:150px"></span>
								<span id="disk-storage-value" class="value" data-value="106">Calculating...</span>
							</span>
							<span id="disk-max-storage-value" class="value-right">___</span>
						</div>
					</div>
				</div>
				<div class="field-group clearfix" style="float:left; width:500px; margin: 0 0 10px 0">
					<h2>Device Data Configuration
						<div style="float:right;font-weight:normal">
							<input type="checkbox" checked id="chkAllLogs" style="width:auto; float:left; margin-right:5px">
							<label> Enable All Logs</label>
						</div></h2>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Enable Events Log:
							</label>
							<div  style="width: 30px; float: left; margin: 0 5px;">
								<input type="checkbox" checked id="chkEventLog" name="enableLog" style="width:auto; float:left; margin-right:5px">
							</div>
							<div class="barchartContainer">
								<span class="bar-graph-container">
									<span class="graph-background" style="width: 100%;"></span>
									<span id="events-storage-graph" class="graph" style="width:0%; max-width:150px"></span>
									<span id="events-storage-value" class="value" data-value="106">Calculating...</span>
								</span>
								<span id="events-max-storage-value" class="value-right">___</span>
							</div>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Enable Motor Current Log:
							</label>
							<div  style="width: 30px; float: left; margin: 0 5px;">
								<input type="checkbox" checked id="chkCurrentLog" name="enableLog" style="width:auto; float:left; margin-right:5px">
							</div>
							<div class="barchartContainer">
								<span class="bar-graph-container">
									<span class="graph-background" style="width: 100%;"></span>
									<span id="motor-current-storage-graph" class="graph" style="width:0%; max-width:150px"></span>
									<span id="motor-current-storage-value" class="value" data-value="106">Calculating...</span>
								</span>
								<span id="motor-current-max-storage-value" class="value-right">___</span>
							</div>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Enable Switch Operations Log:
							</label>
							<div  style="width: 30px; float: left; margin: 0 5px;">
								<input type="checkbox" checked id="chkSwopLog" name="enableLog" style="width:auto; float:left; margin-right:5px">
							</div>
							<div class="barchartContainer">
								<span class="bar-graph-container">
									<span class="graph-background" style="width: 100%;"></span>
									<span id="swop-storage-graph" class="graph" style="width:0%; max-width:150px"></span>
									<span id="swop-storage-value" class="value">Calculating...</span>
								</span>
								<span id="swop-max-storage-value" class="value-right">___</span>
							</div>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Enable Maintenance Log:
							</label>
							<div  style="width: 30px; float: left; margin: 0 5px;">
								<input type="checkbox" checked id="chkMaintLog" name="enableLog" style="width:auto; float:left; margin-right:5px">
							</div>
							<div class="barchartContainer">
								<span class="bar-graph-container">
									<span class="graph-background" style="width: 100%;"></span>
									<span id="maintenance-storage-graph" class="graph" style="width:0%; max-width:150px"></span>
									<span id="maintenance-storage-value" class="value" data-value="106">Calculating...</span>
								</span>
								<span id="maintenance-max-storage-value" class="value-right">___</span>
							</div>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Instantaneous Data Polling Rate:
							</label>
							<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
								<input type="number" id="instDataPoll_hours" name="snmp-syscontact" min="0" max="23" value="0">
							</div>
							<label for="snmp-traps-enabled" style="width: 20px; float: left; margin-top: 5px;">HH</label>
							<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
								<input type="number" id="instDataPoll" name="snmp-syscontact" min="0" max="60" value="1">
							</div>
							<label for="snmp-traps-enabled" style="width: 50px; float: left; margin-top: 5px;">MM</label>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Long Term Data Polling Rate:
							</label>
							<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
								<input type="number" id="allLogsDataPoll_hours" name="snmp-syscontact" min="0" max="23" value="0">
							</div>
							<label for="snmp-traps-enabled" style="width: 20px; float: left; margin-top: 5px;">HH</label>
							<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
								<input type="number" id="allLogsDataPoll" name="snmp-syscontact" min="1" max="60" value="1">
							</div>
							<label for="snmp-traps-enabled" style="width: 50px; float: left; margin-top: 5px;">MM</label>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Long Term Data Logs Max Storage Size:
							</label>
							<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
								<input type="number" id="currentLogMaxSize" name="snmp-syscontact" value="1" min="1" max="1000" ></input>
							</div>
							<label for="snmp-traps-enabled" style="width: 50px; float: left; margin-top: 5px;">GB</label>
						</div>
					</div>
					<div class="field-group clearfix" style="float:left; width:500px; height: 110px; margin: 0 0 10px 0">
						<h2>Local SNMP Configuration</h2>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Enable:
							</label>
							<div style="width: 30px; float: left; margin: 0 5px;">
								<input type="checkbox" checked id="chkEnableSnmpLog" name="enableLog" style="width:auto; float:left; margin-right:5px">
							</div>
							<div class="barchartContainer">
								<span class="bar-graph-container">
									<span class="graph-background" style="width: 100%;"></span>
									<span id="snmp-storage-graph" class="graph" style="width:0%; max-width:150px"></span>
									<span id="snmp-storage-value" class="value" data-value="106">Calculating...</span>
								</span>
								<span id="snmp-max-storage-value" class="value-right">___</span>
							</div>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-syscontact" style="width: 250px; float: left; margin-top: 5px;">
								Max Storage Size:
							</label>
							<div class="iw" style="width: 50px; float: left; margin: 0 5px; padding-left:0px">
								<input id="snmpLogMaxSize" type="number"  value="1" min="1" max="1000" class="cfgproc">
							</div><label for="snmp-traps-enabled" style="width: 50px; float: left; margin-top: 5px;">
								GB
							</label>
						</div>
					</div>
					<div class="field-group clearfix" style="float:left; width:500px; height: 140px; margin: 0 0 10px 0">
						<h2>Delete Device Logs
						<a id="btn_cancel_delete" style="display:none;float:right;margin-top:-6px; margin-right:0px" class="button" href="#">Cancel</a>
						<a id="btn_delete_logs" style="display:none;float:right;margin-top:-6px; margin-right:0px" class="button" href="#">Delete</a>
						<a id="btn_remove_logs" style="display:block;float:right;margin-top:-6px; margin-right:0px" class="button" href="#">Remove Logs</a>
						</h2>
						<div class="field-container text clearfix">
							<label for="snmp-traps-enabled" style="width: 250px; float: left; margin-top: 5px;">
								Log Type:
							</label>
							<div style="width: 150px; float: left; margin: 0 5px;">
								<select id="select_log_type" class="iw cfgproc" name="graphFiles" style="display: inline; height:20px; font-weight: bold">
										<option value=""></option>
										<option value="events">Event Logs</option>
										<option value="maintenance">Maintenance Logs</option>
										<option value="motor_current">Motor Current Logs</option>
										<option value="snmp">SNMP Logs</option>
										<option value="swop">Switch Operations Logs</option>
								</select>
							</div>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-syscontact" style="width: 250px; float: left; margin-top: 5px;">
								From Date:
							</label>
							<div class="iw" style="width: 161px; float: left; margin: 0 5px; padding-left:0px">
								<input id="from_date" value="" type="text" placeholder="yyyy-mm-dd">
							</div>
						</div>
						<div class="field-container text clearfix">
							<label for="snmp-syscontact" style="width: 250px; float: left; margin-top: 5px;">
								To Date:
							</label>
							<div class="iw" style="width: 161px; float: left; margin: 0 5px; padding-left:0px">
								<input id="to_date" value="" type="text" placeholder="yyyy-mm-dd">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('footer') -%>
