
</div>
<div id="footer" class="clearfix">
	<p style="float: left;">
		Copyright &copy; 2016 Ansaldo STS USA, Inc.
	</p>
	<p id="tool-ver" style="float: right;">Ver. <span id="ui-ver">UI-0.9.166 SW-</span><span id="sw-ver">waiting</span></p>
</div>
</div>
<script src="/js/lib/jquery-resizable.js"></script>
<script src="/js/lib/goodtree.plugin.js"></script>
<script src="/js/lib/jqnoconflict.js"></script>
<script src="/js/init.js"></script>
</body>
</html>
