<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en-us">
<!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<!--[if lt IE 9 ]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	<title dir=ltr>ASTS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/lib/prototype.js"></script>
	 <script src="/js/popup.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	<link href="/css/graph.css" rel="stylesheet" type="text/css">
	<script src="/js/lib/jquery.flot.min.js"></script>
	<script src="/js/lib/xml2json.min.js"></script>
	<link href="/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="/js/lib/datepicker.min.js"></script>
    <script type="text/javascript" src="/js/lib/datepicker.en.js"></script>
    <script src="/js/graph.js"></script>
    <script>

    </script>
</head>
<body>
	<div id="master-wrapper">
		<div id="header" class="clearfix">
			<h1>
				<a href="/"><span>ASTS</span>
					<span id="smalllog" style="font-size: 20px; vertical-align: super;margin-left: -8px">®</span>
					<span style="font-size: 15px;display:block; font-weight: normal;margin-top:-5px">Data Acquisition Server</span>
				</a>
			</h1>
			<div class="onboard-information">
				<div class="onboard-other-div">
				<img src="/img/logout-icon.png" alt="Smiley face" height="16" width="16" style="float:left; margin-top:1px">
				<% if(watcher) { %>
				<a href="#" id="logout" style="display:block; font-size:17px; color:white; padding:0 0 0 23px; font-weight:bold">Logout</a>
				<h2 style="display:block;color: white;font-weight: normal;margin-left: 6px;font-size: 10px;" id="watcher" value='<%=watcher %>'><%=watcher %></h2>
				<script type="text/javascript">
				watch('<%=maxTime %>');
				</script>
				<% } else {%>
				<a href="#" id="login" style="display:block; font-size:17px; color:white; padding:0 0 0 23px; font-weight:bold">Login</a>
				<% } %>
				</div>
			</div>
			<div class="nav-wrap clearfix">
				<ul class="nav" style="float: left; clear:left">
					<li id="home">
						<a id="dashboard_menu" class="active_" href="/" title="Dashboard">Dashboard</a>
					</li>
					<li id="device_entry">
						<a id="runtime_menu" class="" href="/deviceEntry" title="Device Entry">Device Entry</a>
					</li>
					<li id="boss_configuration">
						<a id="configuration_menu" href="#" onclick="return false;" title="Server Configuration">Server Configuration</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="container" class="clearfix">
