<%- include('header') -%>
<script src="/js/lib/jqnoconflict.js"></script><script src="/js/lib/contextmenu.min.js"></script>
<script src="/js/common_function.js"></script>
<script src="/js/index.js"></script>
<script src="/js/swopLog.js"></script>
<script src="/js/snmpLog.js"></script>
<div class="panel-container">
	<div class="dashboard-container">
		<div class="panel-left" >
			<div class="section clearfix" style="display:flex;flex-direction:column;flex:1">
				<div class="section-toolbar clearfix">
					<h1 style="float: left; white-space:nowrap">IECC Device Tree</h1>
					<div class="popup-buttons" style="float:right;">
						<!--<a id="device_data" class="button" href="#" onclick="return false;">Add / Delete Category</a>-->
						<a id="btn_show_category_form" style="display:block;padding-top: 11px;font-weight: bold;font-size: 10px;" href="#" onclick="return false;">Add Category ▾</a>
						<a id="btn_hide_category_form" style="display:none;padding-top: 11px;font-weight: bold;font-size: 10px;" href="#" onclick="return false;">Add Category ▴</a>
					</div>
				</div>
				<div id="category_from" style="display:none;padding-bottom:0px" class="section-content clearfix">
					<div class="field-group clearfix">
						<h2 style="padding: 10px;white-space: pre-line" id="" >Add New Category <a id="btn_save_category" style="float:right;margin-top:-6px; margin-right:0px" class="button" href="#">Save</a></h2>
						<div class="field-container text clearfix">
							<label for="snmp-syscontact" style="width: 200px; float: left; margin-top: 5px;margin-bottom:5px">
								Category Name :
							</label>
							<div class="iw" style="width: 234px; float: left;">
								<input id="txtCategoryName" name="txtCategoryName" value="" class="cfgproc" maxlength="20">
							</div>
						</div>
					</div>
				</div>
				<div class="section-content clearfix">
					<div class="field-group clearfix">
						<div id="treeCcontainer" style="padding:10px 0 10px 0;">
							<!-- Tree Area -->
						</div>
						<input type="hidden" id="hidden_selected_node" name="device" value="" >
						<div id="context-menu" style="display:none;" class="context-menu-container">
							<!-- The actual menu that will be displayed-->
							<div class="context-menu-inner-container">
								<div class="dropdown-menu">
									<div><a id="btn-detete-category" href="#">&#x1f5d1; Delete</a></div>
								</div>
							</div>
						</div>
						<div id="context-menu-device" style="display:none;" class="context-menu-container">
							<!-- The actual menu that will be displayed-->
							<div class="context-menu-inner-container">
								<div class="dropdown-menu">
									<div><a id="btn-detete-device" href="#">&#x1f5d1; Delete</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="verticalSplittr" class="splitter">
		</div>
		<div class="panel-right">
			<div class="panel-container-vertical">
				<div class="panel-top">
					<div class="section clearfix" style="flex: 1; display: flex; flex-direction: column;overflow:hidden">
						<div class="section-toolbar clearfix">
							<h1 style="float: left;">IECC Device Information</h1>
							<a id="cancelEditDevInfo" class="button tab-button hide"  style="float:right;" href="#" onclick="return false;">Cancel</a>
							<a id="saveDevInfo" class="button tab-button hide"  style="float:right;" href="#" onclick="return false;">Save Device Info</a>
							<a id="editDevInfo" class="button tab-button" style="float:right" href="#" onclick="return false;">Edit Device Info</a>
						</div>
						<div class="section-content clearfix" style="display:flex;flex:1;overflow:hidden">
							<div class="field-group clearfix" style="display:flex;flex:1;overflow:auto">
								<table cellspacing="0" cellpadding="0" border="0" id="sys-adjust-wrapper-table" class="data-table">
									<tbody>
										<tr>
											<td style="padding: 0 !important" colspan="4">
												<div id="sys-adjust-scroll" class="clearfix fullheight-inner bigheight">
													<table id="tbl-device-info" class="data-table-scroll">

														<tbody id="sys-adjust-tbody-1" style="">
															<tr class="intable">
																<td style="font-weight:bold" class="sys-adjust-number">Device Name</td>
																<td class="sys-adjust-event"><label id="lbl-device-name"></label>
																	<input id="device_name" name="device_name" value="" class="devName" style="display:none;height:15px"></td>
																</tr>
																<tr class="intable alt">
																	<td style="font-weight: bold" class="sys-adjust-number">Web	IP Address</td>
																	<td id="deviceIp" class="sys-adjust-event">
																		<a id="lnk_ip" style="text-decoration: underline"> <label
																			style="cursor: pointer;" id="lbl-device-ip"></label></a>
																			<div id="ipContainer" class="iw" style="width: 140px; float: left; display:none;"
																			onkeypress="if(isNaN(event.key) && event.keyCode != 8 && event.keyCode != 9 && event.keyCode != 46) return false;">
																			<div class="ipContainer">
																				<input style="height:15px" type="text" id="deviceIP1" name="deviceIP1" value="" maxlength="3"
																				><span>.</span>
																				<input style="height:15px" type="text" id="deviceIP2" name="deviceIP2" value="" maxlength="3"><span>.</span>
																				<input style="height:15px" type="text" id="deviceIP3" name="deviceIP3" value="" maxlength="3"><span>.</span>
																				<input style="height:15px" type="text" id="deviceIP4" name="deviceIP4" value="" maxlength="3">
																			</div>
																			<label for="snmp-syscontact" style="margin-left: 25px">Port : </label>

																			<input type="text" style="width: 50px; height:15px" id="device_port" name="device_port" value="" maxlength="4"
																			onkeypress="if(isNaN(event.key) && event.keyCode != 8 && event.keyCode != 9 && event.keyCode != 46) return false;" />
																		</div>
																		<div id="deviceCheckContainer" style="margin: 0 0 0 250px;display:none;">
																			<button class="checkIP" id="btn_check_ip">Check</button>
																			<img
																			id="busy_gif" src="/img/ajax-load.gif"
																			alt="Smiley face" height="16" width="16"
																			style="float: left; margin-top: 0px; margin-left: 5px; display: none">
																			<div id="check_status_result" tooltip="deviceNotFound">
																				<p id="existCkeckStatus"></p>
																			</div>
																		</div>
																	</td>
																</tr>
																<tr class="intable">
																	<td style="font-weight:bold" class="sys-adjust-number">Switch Direction</td>
																	<td class="sys-adjust-event"><label id="lbl-switch-direction"></label></td>
																</tr>
																<tr class="intable alt">
																	<td style="font-weight:bold" class="sys-adjust-number">Health Status</td>
																	<td class="sys-adjust-event"><label id="lbl-health-status"></label></td>
																</tr>
																<tr class="intable">
																	<td style="font-weight:bold" class="sys-adjust-number">ASTS Entry Date</td>
																	<td class="sys-adjust-event"><label id="lbl-boss-entry-date"></label></td>
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div id="horizontalSplittr" class="splitter-horizontal">
					</div>
					<div id="dataPane" class="section clearfix" style="display:flex;flex:1;flex-direction:column; min-height: 170px;overflow:hidden">
						<div class="section-toolbar clearfix">
							<div class="popup-buttons" style="float: left; margin-right: 20px;">
								<h1 style="padding: 3px 5px;">IECC Device Data</h1>
							</div>
							<div class="popup-buttons" style="float:left; margin: 0 40px 0 0;">
								<a id="device_data" class="button tab-button selected-tab" href="#" onclick="return false;">Instantaneous Data</a>
								<a id="swop_log" style="white-space: normal;" class="button tab-button" href="#" onclick="return false;"> Switch Operations Log
									<div id="specific_swop_log" style="float:right;display:none">
										<span id="swop_log_first_btn" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="First">◀◀</span>
										<span id="swop_log_previous_btn" style="float:left; margin-left:5px; margin-right:20px; font-weight:normal;" title="Previous">◀</span>
										<div class="popup-buttons" style="float:left; margin: 0;">
											<h2 style="float: left; margin: 0;font-weight:normal">
												<span id="sysinfo-exec-ver" class="info">Records per Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="chooseperpage" value="25" step="1" min="1" maxlength="3" value="20" style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);">
												</div>
											</h2>
											<h2 style="float:left; margin-left:8px;font-weight:normal">
												<span class="info">Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="choosepage" value="1" step="1" max="100" min="1" maxlength="3" style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);">
												</div>
												<span class="info" style="margin-left:8px;">Total:</span><span id="total-page-num" class="info">---</span>
											</h2>
										</div>
										<span id="swop_log_next_btn" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="Next">▶</span>
										<span id="swop_log_last_btn" style="float:left; margin-left:5px; margin-right:5px; font-weight:normal;" title="Last">▶▶</span>
									</div>
								</a>

								<a id="event_log" style="white-space: normal;" class="button tab-button" href="#" onclick="return false;"> Events Log
									<div id="specific_event_log" style="float:right;display:none">
										<span id="eventLogFirst" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="First">◀◀</span>
										<span id="eventLogPrev" style="float:left; margin-left:5px; margin-right:20px; font-weight:normal;" title="Previous"
										onclick='return false;'>◀</span>
										<div class="popup-buttons" style="float:left; margin: 0;">
											<h2 style="float: left; margin: 0;font-weight:normal">
												<span id="sysinfo-exec-ver" class="info">Records per Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="pageSize" value="25" step="1" maxlength="3" min="1" max="100" value="20"
													style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);">
												</div>
											</h2>
											<h2 style="float:left; margin-left:8px;font-weight:normal">
												<span class="info">Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="pageNum" value="1" step="1" max="100" min="1" maxlength="3"
													style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);"
													onclick="return false;">
												</div>
												<span class="info" style="margin-left:8px;">Total Logs:</span><span id="totalPageNum" class="info">---</span>
											</h2>
										</div>
										<span id="eventLogNext" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="Next">▶</span>
										<span id="eventLogLast" style="float:left; margin-left:5px; margin-right:5px; font-weight:normal;" title="Last">▶▶</span>
									</div>
								</a>

								<!-- <a id="event_log" style="white-space: normal" class="button tab-button" href="#" onclick="return false;">Events Log</a> -->


								<a id="maintenance_log" style="white-space: normal" class="button tab-button" href="#" onclick="return false;">Maintenance Log
									<div id="specific_maintenance_log" style="float:right;display:none">
										<span id="maintLogFirst" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="First">◀◀</span>
										<span id="maintLogPrev" style="float:left; margin-left:5px; margin-right:20px; font-weight:normal;" title="Previous"
										onclick='return false;'>◀</span>
										<div class="popup-buttons" style="float:left; margin: 0;">
											<h2 style="float: left; margin: 0;font-weight:normal">
												<span id="sysinfo-exec-ver" class="info">Records per Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="maintPageSize" value="25" step="1" maxlength="3" min="1" max="100" value="20"
													style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);">
												</div>
											</h2>
											<h2 style="float:left; margin-left:8px;font-weight:normal">
												<span class="info">Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="maintPageNum" value="1" step="1" max="100" min="1" maxlength="3"
													style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);"
													onclick="return false;">
												</div>
												<span class="info" style="margin-left:8px;">Total:</span><span id="maintTotPageNum" class="info">---</span>
											</h2>
										</div>
										<span id="maintLogNext" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="Next">▶</span>
										<span id="maintLogLast" style="float:left; margin-left:5px; margin-right:5px; font-weight:normal;" title="Last">▶▶</span>
									</div>
								</a>
								<a id="snmp_log" style="white-space: normal" class="button tab-button" href="#" onclick="return false;">SNMP Traps Log
									<div id="specific_snmp_log" style="float:right;display:none">
										<span id="snmpLogFirst" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="First">◀◀</span>
										<span id="snmpLogPrev" style="float:left; margin-left:5px; margin-right:20px; font-weight:normal;" title="Previous"
										onclick='return false;'>◀</span>
										<div class="popup-buttons" style="float:left; margin: 0;">
											<h2 style="float: left; margin: 0;font-weight:normal">
												<span id="sysinfo-exec-ver" class="info">Records per Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="snmpPageSize" value="25" step="1" maxlength="3" min="1" max="100" value="20"
													style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);">
												</div>
											</h2>
											<h2 style="float:left; margin-left:8px;font-weight:normal">
												<span class="info">Page:</span>
												<div style="display:inline-block; padding:0;">
													<input type="number" class="userinput" id="snmpPageNum" value="1" step="1" max="100" min="1" maxlength="3"
													style="width:30px; height:14px; background-color: #d1d1d1; border: 1px solid; border-color: rgb(169, 169, 169);"
													onclick="return false;">
												</div>
												<span class="info" style="margin-left:8px;">Total:</span><span id="snmp-total-page-num" class="info">---</span>
											</h2>
										</div>
										<span id="snmpLogNext" style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;" title="Next">▶</span>
										<span id="snmpLogLast" style="float:left; margin-left:5px; margin-right:5px; font-weight:normal;" title="Last">▶▶</span>
									</div>
								</a>
								<a id="motor_current" style="white-space: normal" class="button tab-button" href="#" onclick="return false;">Motor Current Graph
									<div id="specific_graph" style="display:none;float:right;">
										<span style="float:left; margin-left:20px; margin-right:5px; font-weight:normal;">Select BaseLine Graph </span>
										
										<!-- <select id="graphFiles" class="cfgproc" name="graphFiles" style="background-color : #d1d1d1;"> -->
											<!-- <option selected="" value="SelectCurrentFile">Select Current File</option> -->
		<div id="test" class="dropdown">	
		<!-- <input id="graphDatePicker" value="Date: MM/DD/YYYY" type="text" style="background-color : #d1d1d1; height: 14px; width:100px; border: 1px solid; border-color: rgb(169, 169, 169)"/> -->								
		<select id="graphFiles" name="graphFiles" style="background-color : #d1d1d1;">
				<option selected="" value="SelectCurrentFile">Select Current File To Compare</option>
			</select>
		<!-- <input id="select-baseline-file" type="label" value="Baseline A File" style="background-color : #d1d1d1;"></input> -->
		<input id="select-current-file" type="label" value="Select Current Files" style="background-color : #d1d1d1;width:165px;height:15px;border:0px"></input>
		<input id="clear-all" type="label" value="Clear All" style="background-color : #d1d1d1;width:50px;height:15px;border:0px"></input>		
		<div id="current-files" class="dropdown-content">
 		 </div>  
 	 </div>
        
										<!-- </select> -->
									</div>
								</a>
							</div>
						</div>
						<div id="instData" class="section-content clearfix" style="display:flex;flex:1;flex-direction:column;overflow:auto;height:500px;">
							<div class="field-group clearfix" style="display:flex;flex-direction:column;overflow:auto;height:500px;">
								<div style="display:flex;flex-direction:row;flex:1;overflow:auto;height:500px;">
									<div  style="display:flex;flex:1;overflow:auto;height:500px;">
										<table cellspacing="0" cellpadding="0" border="0" id="static-table" class="data-table">
											<tbody>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">IECC Latch-Out Configuration Setting</td>
													<td class="sys-adjust-event"><label id="latchOutStatus"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">IECC Position Setting </td>
													<td class="sys-adjust-event"><label id="posSetting"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">IPD Mode </td>
													<td class="sys-adjust-event"><label id="ipdMode"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">IECC Part Number</td>
													<td class="sys-adjust-event"><label id="ieccPartNum"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">IECC Serial Number</td>
													<td class="sys-adjust-event"><label id="ieccSerNum"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">System Software Version</td>
													<td class="sys-adjust-event"><label id="sysSoftwareVer"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">Comm Processor Version</td>
													<td class="sys-adjust-event"><label id="commProVer"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">Vital FPGA (Altera) Version</td>
													<td class="sys-adjust-event"><label id="vitalFpgaAltVer"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">Vital FPGA (Xilinx) Version</td>
													<td class="sys-adjust-event"><label id="vitalFpgaXilVer"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">System Hardware Version</td>
													<td class="sys-adjust-event"><label id="sysHardwareVer"></label></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div  style="display:flex;flex:1;">
										<table cellspacing="0" cellpadding="0" border="0" id="dynamic-table" class="data-table">
											<tbody>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">Switch Machine Part Number</td>
													<td class="sys-adjust-event"><label id="switchPartNum"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">Switch Machine Serial Number</td>
													<td class="sys-adjust-event"><label id="switchMacSerNum"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">Switch Machine Type (M3 or M23)</td>
													<td class="sys-adjust-event"><label id="switchMacType"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">Switch Machine Gear Ratio</td>
													<td class="sys-adjust-event"><label id="switchMacGearRatio"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">Switch Machine Direction Installation </td>
													<td class="sys-adjust-event"><label id="switchMacDirectionIns"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">Switch Machine Motor Controller</td>
													<td class="sys-adjust-event"><label id="switchMacMotorCont"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">Switch Machine Motor Voltage </td>
													<td class="sys-adjust-event"><label id="switchMacMotorV"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">Mile Post</td>
													<td class="sys-adjust-event"><label id="milePost"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">Chaining Mode</td>
													<td class="sys-adjust-event"><label id="chainingMode"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">Nominal Position (GPS)</td>
													<td class="sys-adjust-event"><label id="nominalPos"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">IECC Manufacturing Date</td>
													<td class="sys-adjust-event"><label id="ieccManufacturingDt"></label></td>
												</tr>
												<tr class="intable alt">
													<td style="font-weight:bold" class="sys-adjust-number">IECC/Switch Machine Manufacturing Shipping Date</td>
													<td class="sys-adjust-event"><label id="switchMacManufacturingShipDt"></label></td>
												</tr>
												<tr class="intable">
													<td style="font-weight:bold" class="sys-adjust-number">IECC/Switch Machine Installation Date</td>
													<td class="sys-adjust-event"><label id="switchMacInsDt"></label></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div id="swopLog" class="section-content clearfix" style="display:none;flex:1;flex-direction:column;overflow:hidden">
							<div class="field-group clearfix" style="display:flex;flex-direction:column;flex:1; overflow:hidden">
								<div style="display:flex;flex-direction:row;flex:1;overflow:hidden">
									<div  style="display:flex;flex:1;">
										<div id="logpage-table-wrapper" class="clearfix" style="float: left; width: 100%; display:flex; flex-direction:column; flex:1">
											<table cellspacing="0" cellpadding="0" border="0" id="errorlog-wrapper-table" class="data-table">
												<tbody>
													<tr>
														<th style="width:30px; max-width:30px;"><a id="sort_num" href="#"  onclick="return false;" >ID</a></th><!--<span id="sortflag_palceholder_5"><img src="/img/arrow.png"></span>-->
														<th style="width:200px;"><a id="sort_codes" href="#" onclick="return false;" > Time <span id="sortflag_palceholder_4"></span></a></th>
														<th style="width:100px; "><a id="sort_time" href="#" onclick="return false;" > Start <span id="sortflag_palceholder_1"></span></a></th>
														<th style="width:100px; "><a id="sort_event" href="#" onclick="return false;" > End <span id="sortflag_palceholder_2"></span></a></th>
														<th style="width:100px; "><a id="sort_source" href="#" onclick="return false;" > Operation <time></time> <span id="sortflag_palceholder_3"></span></a></th>
														<th style="width:200px; "><a id="sort_codes" href="#" onclick="return false;" > MCAMPS <span id="sortflag_palceholder_4"></span></a></th>
														<th style="width:100px; "><a id="sort_codes" href="#" onclick="return false;" > Temp <span id="sortflag_palceholder_4"></span></a></th>
														<th style="width:110px; "><a id="sort_codes" href="#" onclick="return false;" > Throw Count <span id="sortflag_palceholder_4"></span></a></th>
													</tr>
												</tbody>
											</table>
											<div id="sys-adjust-scroll" class="clearfix" style="display:flex;flex-direction:column;overflow-y: scroll;overflow-x: hidden;flex:1">
												<table id="swop-log-table" class=" data-table data-table-scroll">
													<tbody id="swop-log-tbody" style="">

													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="motorGraph" class="section-content clearfix" style="display:none;flex:1;flex-direction:column; overflow:auto">
							<div class="field-group clearfix" style="display:flex;flex-direction:column;height:100%;width: 100%;">
								<div id="placeholder" class="graph-placeholder" style="width: 100%;height: 100%;font-size: 14px;line-height: 1.2em;overflow:auto"></div>
						</div>
					  <p style="display:none">
		                	<label><input id="enablePosition" type="checkbox" checked="checked"></input>Show mouse position</label>
		                    <span id="hoverdata"></span>
			                <span id="clickdata"></span>
		             </p> 
		             <p style="display:none"><label><input id="enableTooltip" type="checkbox" checked="checked"></input>Enable tooltip</label></p> 
						</div>
						<div id="eventLog" class="section-content clearfix" style="display:none;flex:1;flex-direction:column; overflow:hidden">
							<div id="evtLogdataPresent" class="field-group clearfix" style="display:flex;flex-direction:row;height: 100%;width: 100%;overflow:hidden">
								<!-- <h2 id="" >Motor Current Graph</h2>  -->
								<div style="display:flex;flex-direction:row;flex:1;overflow:hidden">
									<div  style="display:flex;flex:1;">
										<div id="logpage-table-wrapper" class="clearfix" style="float: left; width: 100%; display:flex; flex-direction:column; flex:1">

											<!-- <table id="apps"></table> -->
											<table id="static-table" class="data-table">
												<tbody>
													<tr class="intable alt" style="border-collapse: collapse;">
														<th style="width:9%;"><a href="#" onclick="return false;" >ID</a></th>
														<th style="width:9%;"><a href="#" onclick="return false;" >Source</a></th>
														<th style="width:8.8%;"><a href="#" onclick="return false;" >Primary ID</a></th>
														<th style="width:8.9%;"><a href="#" onclick="return false;" >Secondary ID</a></th>
														<th style="width:8.9%;"><a href="#" onclick="return false;" >Level</a></th>
														<th style="width:8.8%;"><a href="#" onclick="return false;" >Error Type</a></th>
														<th style="width:8.9%;"><a href="#" onclick="return false;" >Time</a></th>
														<th style="width:37.7%;"><a href="#" onclick="return false;" >Description</a></th>
													</tr>
												</tbody>
											</table>
											<div id="sys-adjust-scroll" class="clearfix" style="display:flex;flex-direction:column;overflow-y: scroll;overflow-x: hidden;flex:1">
												<table class="data-table">
													<tbody id="eventDataTbl">
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="noDataEvtLog" style="display:none;">
								<pre style='align:center'>No Logs Available For This Device, Please Choose Another Device</pre>
							</div>
						</div>
						<div id="maintLog" class="section-content clearfix" style="display:none;flex:1;flex-direction:column; overflow:hidden">
							<div id="maintLogdataPresent" class="field-group clearfix" style="display:flex;flex-direction:row;height: 100%;width: 100%;overflow:hidden">
								<!-- <h2 id="" >Motor Current Graph</h2>  -->
								<div style="display:flex;flex-direction:row;flex:1;overflow:hidden">
									<div  style="display:flex;flex:1;">
										<div id="logpage-table-wrapper" class="clearfix" style="float: left; width: 100%; display:flex; flex-direction:column; flex:1">

											<!-- <table id="apps"></table> -->
											<table id="static-table" class="data-table">
												<tbody>
													<tr class="intable alt" style="border-collapse: collapse;">
														<th style="width: 135px;"><a href="#" onclick="return false;" >Switch Machine Maintenance No.</a></th>
														<th style="width: 135px;"><a href="#" onclick="return false;" >Log Date</a></th>
														<th style="width: 135px"><a href="#" onclick="return false;" >Inspection	Start Time</a></th>
														<th style="width: 135px;"><a href="#" onclick="return false;" >Inspection	End Time</a></th>
														<th style="width: 135px;"><a href="#" onclick="return false;" >Inspection	Duration</a></th>
														<th style="width: 285px;"><a href="#" onclick="return false;" >Inspection	Description</a></th>
														<th style="width: 285px;"><a href="#" onclick="return false;" >Inspection	Personnel</a></th>
														<th style="width: 135px"><a href="#" onclick="return false;" >Time Since Last Inspection</a></th>
													</tr>
												</tbody>
											</table>
											<div id="sys-adjust-scroll" class="clearfix" style="display:flex;flex-direction:column;overflow-y: scroll;overflow-x: hidden;flex:1">
												<table class="data-table">
													<tbody id="maintDataTbl">
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="noDataMaintLog" style="display:none;">
								<pre style='align:center'>No Logs Available For This Device, Please Choose Another Device</pre>
							</div>
						</div>
						<div id="snmpLog" class="section-content clearfix" style="display:none;flex:1;flex-direction:column; overflow:hidden">
							<div class="field-group clearfix" style="display:flex;flex-direction:row;height: 100%;width: 100%;">
								<!-- <h2 id="" >Motor Current Graph</h2>  -->
								<div style="display:flex;flex-direction:row;flex:1;">
									<div  style="display:flex;flex:1;">
										<div id="logpage-table-wrapper" class="clearfix" style="float: left; width: 100%; display:flex; flex-direction:column; flex:1">

											<!-- <table id="apps"></table> -->
											<table id="static-table" class="data-table data-table-scroll">
												<tbody id="snmp-log">
													<tr class="intable alt" style="border-collapse: collapse;">
														<th style="width:9%;"><a href="#" onclick="return false;" >ID</a></th>
														<th style="width:41%;"><a href="#" onclick="return false;" >Text Value</a></th>
														<th style="width:20%;"><a href="#" onclick="return false;" >Numeric ID</a></th>
														<th style="width:15%;"><a href="#" onclick="return false;" >Time</a></th>
														<th style="width:15%;"><a href="#" onclick="return false;" >Criticality</a></th>
													</tr>
												</tbody>
											</table>
											<div id="sys-adjust-scroll" class="clearfix" style="display:flex;flex-direction:column;overflow-y: scroll;overflow-x: hidden;flex:1">
												<table class="data-table">
													<tbody id="snmpDataTbl" class="data-table data-table-scroll">
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('footer') -%>
