* {	padding: 0; margin: 0; vertical-align: top; }

/* #graph-body {
	background: url(background.png) repeat-x;
	font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}
 */

/* #graph-content {
	width: 880px;
	margin: 0 auto;
	padding: 10px;
	background-color:yellow;
} */

.graph-container {
	box-sizing: border-box;
	//width: 100%;
	//height: 100%;
	//padding: 20px 15px 15px 15px;
	//margin: 2% 5px 5px 5px;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	//overflow:auto;
}

/* .graph-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
	background-color:yellow;
} */

.legend table {
	border-spacing: 5px;
}

/* flex buttons */


/* .flex-item {
    background-color: tomato;
    padding: 5px;
    width: 10%;
    height: 90%;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.flex-item1 {
    background-color: tomato;
    padding: 10%;
    width: 80%;
    height: 90%;
    margin: 10px;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    max-height:150px;
    overflow: auto;
    position: relative;
    min-width: 140px;
    padding: 5px 5px 5px 0px;
    z-index: 1;
    background: #E8EEF1 url("../img/lightbg.gif") left -10px repeat-x;
    left:126px;
    width:160px;
    //border-radius: 5px;
}

li:active,li:visited {
	color: #607890;
}
#current-files li {
  color: #fff;
  list-style:none;
  color: #20394F !important;
}